<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timetable Viewer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Timetable Viewer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="btnBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="btnForward()">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="btnToday()">
    <ion-icon name="today-outline" slot="end"></ion-icon>
    Aujourd'hui
  </ion-button>
  <ion-button color="tertiary" (click)="showPicker()">
    Groupe
  </ion-button>

  <ion-slides [options]="sliderOpt" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
         <img src="https://edt.univ-evry.fr/vue_etudiant_horizontale.php?current_year={{year}}&current_student={{code}}&current_week={{weekNumber}}&lar={{width}}&hau={{height}}" />
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
